body {
	background-color: #000000;
	text-align: center;
	/*font-family: 'Iceland', cursive;*/
	font-family: 'Geo', cursive;
} 

/*NEW MENU START*/

.black-white-button {
	margin: 0 auto;
	background-color: black;
	color: white;
	width: 171px;
	height: 30px;
	line-height: 30px;
	border-radius: 2px;
	border:1px solid white;

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.black-white-button:hover {
	cursor: pointer;
	background-color: white;
	color: black;
}

.black-red-button {
	margin: 0 auto;
	background-color: black;
	color: white;
	width: 171px;
	height: 30px;
	line-height: 30px;
	border-radius: 2px;
	border:1px solid red;

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.black-red-button:hover {
	cursor: pointer;
	background-color: red;
	color: white;
}

.button-margin {
	margin-top: 28px;
}

.no-display {
	display: none;
}

.red-border {
	border-color: red;
}

/*//////NEW MENU END//////////*/

#gameScreen{
	display:none;
}

#shotsWrapper {
	display: none;
}

.headerFont {
	color: white;
	font-size: 150px;
	margin-bottom: -10px
}

.mediumHeaderFont {
	color: white;
	font-size: 28px;
}

.smallHeaderFont {
	margin-top: 25px;
	margin-bottom: 20px;
	color: white;
	font-size: 16px;
}

.nameCell {
	text-align: left;
}

.pointsCell {
	text-align: right;
	padding-left: 22px;
}

.name-input {
	font-family:"Geo";
	font-size:120%;
    text-align:center; 
    width: 170px;
    line-height: 23px;
}

.game-score-input {
	font-family:"Geo";
	font-size:120%;
    text-align:center; 
    width: 170px;
}

.deadlinerImg {
	margin-top: -100px;
	width: 55%;
	height: 55%;

}

.startGameButton {
	display: none;
	margin: 0 auto;
	margin-top: 25px;
	background-color: black;
	color: white;
	width: 171px;
	height: 30px;
	line-height: 30px;
	border-radius: 2px;
	border:1px solid white;
}

.customizeButton {
	margin: 0 auto;
	margin-top: 25px;
	background-color: black;
	color: white;
	width: 171px;
	height: 30px;
	line-height: 30px;
	border-radius: 2px;
	border:1px solid white;
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

.customizeButton:hover {
	cursor: pointer;
	background-color: white;
	color: black;
}

.mode-button {
	margin: 0 auto;
	background-color: black;
	color: white;
	width: 171px;
	height: 30px;
	line-height: 30px;
	border-radius: 2px;
	border:1px solid white;
}

.mode-button:hover {
	cursor: pointer;
	background-color: white;
	color: black;
}

.startGameButton:hover {
	cursor: pointer;
	background-color: white;
	color: black;
}

.restartGameButton {
	display: none;
	background-color: black;
	color: white;
	width: 171px;
	height: 30px;
	line-height: 30px;
	border-radius: 2px;
	border:1px solid white;
	position: relative;
	bottom:-10px;
	left: 50%;
	margin-left: -85px;
	z-index: 0;
}

.restartGameButton:hover {
	cursor: pointer;
	background-color: white;
	color: black;
}

.wrapper {
	vertical-align: middle;
	height: 768px;
	width: 768px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	overflow: hidden;
	position: relative;
}

#backCanvas,
#middleCanvas,
#deathParticleCanvas,
#topCanvas{
	border: 0px;
	border-style: solid;
	border-color: yellow;
	position: absolute;
	left:0;
    top:0;
    margin-top:0px;
	width: 100%;
	height: 100%;
}

#backCanvas{
	z-index: 0;
}

#middleCanvas{
	z-index: 1;
}

#topCanvas{
	z-index: 2;
}

#deathParticleCanvas{
	z-index: 3;
}

#playerPoints {
	margin-top: 10px;
}

.button {
	margin: 10px;
	background-color: white;
	color: black;
	width: 70px;
	padding: 5px;
	font-size: 22;
	cursor: pointer;
}

.medium {
	font-size: 18px;
}

.bold {
	font-weight: bold;
	font-size: 40px;
}

.white {
	color: white;
	margin-top: 10px;
}

.red {
	color: red;
	margin-top: 10px;
}

.blue {
	color: blue;
}

.point {
	margin-top: 15px;
}

.yellow {
	color: yellow;
	margin-top: 10px;
}

.textBlurAnimation {
	animation:blur 1.7s ease-out;
}

@keyframes blur{
  from{
      text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;}
}

#backButton1{
	margin-bottom: 28px;
}

.name-input-wrap::before{
	content:"";
	display:inline-block;
	background-image: url("../sprites/playerIcons.png");
	background-repeat: no-repeat;
	height: 27px;
	width: 27px;
	border: 1px solid white;
	position: absolute;
	margin-left: -49px;
	opacity: 0;
	transition:opacity 1.0s ease;
}

.name-input-wrap:after{
	display:inline-block;
	height: 29px;
	line-height: 29px;
	color: white;
	position: absolute;
	margin-left: 20px;
	opacity: 0;
	transition:opacity 1.0s ease;
}

.name-input-wrap#player1::before{
	background-position: 0 0;
}

.name-input-wrap#player2::before{
	background-position: -27px 0;
}

.name-input-wrap#player3::before{
	background-position: -54px 0;
}

.name-input-wrap#player4::before{
	background-position: -81px 0;
}

.name-input-wrap#player1::after{
	content:"\25C4 \25B2 \25BC \25BA . -";
}

.name-input-wrap#player2::after{
	content:"D R G F X Z";
}

.name-input-wrap#player3::after{
	content:"N1 N5 N3 N2 Page-Down End";
}

.name-input-wrap#player4::after{
	content:"J I L K B V";
}

.players1 .name-input-wrap#player1::before,
.players2 .name-input-wrap#player1::before,
.players2 .name-input-wrap#player2::before,
.players3 .name-input-wrap#player1::before,
.players3 .name-input-wrap#player2::before,
.players3 .name-input-wrap#player3::before,
.players4 .name-input-wrap#player1::before,
.players4 .name-input-wrap#player2::before,
.players4 .name-input-wrap#player3::before,
.players4 .name-input-wrap#player4::before,
.players1 .name-input-wrap#player1::after,
.players2 .name-input-wrap#player1::after,
.players2 .name-input-wrap#player2::after,
.players3 .name-input-wrap#player1::after,
.players3 .name-input-wrap#player2::after,
.players3 .name-input-wrap#player3::after,
.players4 .name-input-wrap#player1::after,
.players4 .name-input-wrap#player2::after,
.players4 .name-input-wrap#player3::after,
.players4 .name-input-wrap#player4::after{
	opacity: 1;
}

.playerPoints {
	position: absolute;
	top: 15px;
	right:30px;
	font-size: 26px;
	width: 300px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.playerPoints .white.point[data-order='0']{
	-webkit-order:1;
	order:1;
}

.playerPoints .white.point[data-order='1']{
	-webkit-order:2;
	order:2;
}

.playerPoints .white.point[data-order='2']{
	-webkit-order:3;
	order:3;	
}

.playerPoints .white.point[data-order='3']{
	-webkit-order:4;
	order:4;	
}

.playerPoints .white:before{
	content:"";
	background-image: url("../sprites/playerIcons.png");
	background-repeat: no-repeat;
	height: 27px;
	width: 27px;
	border: 1px solid white;
	margin-left: -49px;
	margin-top: 1px;
	float: left;
}

.playerPoints .white#player1points::before{
	background-position: 0 0;
}

.playerPoints .white#player2points::before{
	background-position: -27px 0;
}

.playerPoints .white#player3points::before{
	background-position: -54px 0;
}

.playerPoints .white#player4points::before{
	background-position: -81px 0;
}

.players1 #player2points,
.players1 #player3points,
.players1 #player4points,
.players2 #player3points,
.players2 #player4points,
.players3 #player4points{
	display: none;
}

.team .white:before{
	width: 54px;
	margin-left: -76px;
}

.team .white#player1points::before{
	background-position: 0 0;
}

.team .white#player2points::before{
	background-position: -54px 0;
}

.team #player3points,
.team #player4points{
	display: none;
}

.playerPoints .name{
	float:left;
	width: 225px;
	text-align: left;
}

.playerPoints .points{
	float:left;
	width:75px;
	text-align: right;
}

.playerPoints .white.point{
	display: inline-block;
}

/*.fader {
	animation:fadeIn 1.0s ease-in;
	animation:fadeOut 1.0s ease-in;	
}

@keyframes fadeIn 
{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut 
{
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes playerIcon {
	from
	{
		opacity: 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% 100%;
	}
	/*0% {background-position:0 0;}
	20%{background-position:30px 0;}
	40%{background-position:60px 0;}
	60%{background-position:80px 0;}
	100% {background-position:100px 0;}*/
	/*0% {opacity: 100%;}
	20% {opacity: 30%;}
	40% {opacity: 50%;}
	60% {opacity: 60%;}
	80% {opacity: 80%;}
	100% {opacity: 20%;}*/

#musicVolume {
    width: 150px;
    height: 50px;    
    position: absolute;
    bottom: 40px;
    right: 50px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: transparent;
    background-image: url('../images/volumeSlider/volBackgroundSmall.png');
}

#musicVolumeSlider {
    position: absolute;
    left: 17px;
    top: 2px;
    margin: 0 auto;
    width: 112px;
    height:15px;
    background-color: transparent;
    background-image: url('../images/volumeSlider/volEmptySmall.png');
  border: none;
  outline: none;
}

#musicVolumeSlider .ui-slider-range-min {
    height:15px;
    width: 112px;
    position: absolute;
    background-color: transparent;
    background-image: url('../images/volumeSlider/volFullSmall.png');
  border: none;
  outline: none;
}

#musicVolumeSlider .ui-slider-handle {
    width: 14px;
    height:15px;
    top: 1px;
    background-color: transparent;
    background-image: url('../images/volumeSlider/volHandleSmall.png');
    position: absolute;
    margin-left: -8px;
    cursor: pointer;
    outline: none;
    border: none;
}

#effectsVolume {
    width: 150px;
    height: 50px;    
    position: absolute;
    bottom: 10px;
    right: 50px;
    margin: 0 auto;
    background-color: transparent;
    background-image: url('../images/volumeSlider/volBackgroundEffects.png');
}

#effectsVolumeSlider {
    position: absolute;
    left: 17px;
    top: 2px;
    margin: 0 auto;
    width: 112px;
    height:15px;
    background-color: transparent;
    background-image: url('../images/volumeSlider/volEmptySmall.png');
  border: none;
  outline: none;
}

#effectsVolumeSlider .ui-slider-range-min {
    height:15px;
    width: 112px;
    position: absolute;
    background-color: transparent;
    background-image: url('../images/volumeSlider/volFullSmall.png');
  border: none;
  outline: none;
}

#effectsVolumeSlider .ui-slider-handle {
    width: 14px;
    height:15px;
    top: 1px;
    background-color: transparent;
    background-image: url('../images/volumeSlider/volHandleSmall.png');
    position: absolute;
    margin-left: -8px;
    cursor: pointer;
    outline: none;
    border: none;
}

@media (max-width: 1555px) {
	.wrapper{
		position: relative;
		left:-200px;
	}
}